.jobhunt-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.jobhunt-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.jobhunt-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.jobhunt-logo {
  font-size: 2em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.jobhunt-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.jobhunt-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.jobhunt-nav1 {
  transition: 0.3s;
  text-decoration: none;
}
.jobhunt-nav1:hover {
  color: #3d6e70ff;
}
.jobhunt-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.jobhunt-nav2:hover {
  color: #3d6e70ff;
}
.jobhunt-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.jobhunt-nav3:hover {
  color: #3d6e70ff;
}
.jobhunt-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.jobhunt-nav4:hover {
  color: #3d6e70ff;
}
.jobhunt-nav41 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.jobhunt-nav41:hover {
  color: #3d6e70ff;
}
.jobhunt-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.jobhunt-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
}
.jobhunt-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.jobhunt-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.jobhunt-burger-menu {
  display: none;
}
.jobhunt-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.jobhunt-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.jobhunt-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.jobhunt-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.jobhunt-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.jobhunt-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobhunt-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.jobhunt-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.jobhunt-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.jobhunt-nav21 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.jobhunt-nav31 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.jobhunt-nav42 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.jobhunt-nav5 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.jobhunt-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.jobhunt-login1 {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.jobhunt-register1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.jobhunt-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.jobhunt-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.jobhunt-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.jobhunt-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.jobhunt-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-primary1-blue80);
}
.jobhunt-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.jobhunt-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.jobhunt-hero-heading {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  max-width: 800px;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.jobhunt-hero-sub-heading {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.jobhunt-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.jobhunt-hero-button1 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1.5rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 45px;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.jobhunt-hero-button1:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.jobhunt-hero-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: transparent;
}
.jobhunt-hero-button2:hover {
  border-color: var(--dl-color-gray-white);
}
@media(max-width: 991px) {
  .jobhunt-hero1 {
    flex-direction: column;
  }
  .jobhunt-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .jobhunt-hero-heading {
    text-align: center;
  }
  .jobhunt-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .jobhunt-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .jobhunt-desktop-menu {
    display: none;
  }
  .jobhunt-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .jobhunt-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .jobhunt-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .jobhunt-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .jobhunt-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .jobhunt-nav42 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .jobhunt-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .jobhunt-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .jobhunt-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .jobhunt-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .jobhunt-logo {
    font-size: 1.5em;
  }
  .jobhunt-mobile-menu {
    padding: 16px;
  }
  .jobhunt-logo1 {
    font-size: 1.5em;
  }
  .jobhunt-icon02 {
    fill: var(--dl-color-gray-900);
  }
  .jobhunt-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .jobhunt-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .jobhunt-btn-group {
    flex-direction: column;
  }
  .jobhunt-hero-button2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
.api-response {
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto;
}

.api-response table {
  width: 100%;
  border-collapse: collapse;
  /* table-layout: fixed; */
}

.api-response th,
.api-response td {
  border: 1px solid #ddd;
  padding: 8px;

}
.api-response tr {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: #fff; /* Adjust as needed */
}

.api-response td {
  flex: 1;
  padding: 10px;
}
.api-response tr:nth-child(even) {
  background-color: #f2f2f2;
}

.api-response tr:hover {
  background-color: #ddd;
}

.container {
  width: 100%; /* Adjust as needed */
  height: 500px; /* Adjust as needed */
  overflow: auto;
}
/* .api-response td:nth-child(2) a {
  display: inline-block;
  max-width: 200px; /* Adjust as needed */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap;
  position: relative; */
/* } */

/* .api-response td:nth-child(2) a::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 5px 0 45px;
  background: #fff; /* Adjust to match your table's background color */
  /* pointer-events: none; */
/* } */ 
.api-response td:last-child {
  position: relative;
  max-height: 5.0em; /* Adjust as needed */
  overflow: hidden;
}

.api-response td:last-child::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 5px 0 45px;
  background: #fff; /* Adjust to match your table's background color */
  pointer-events: none;
} 

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.api-response th.no-int {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  width: 100%;
}
.placeholder-text {
  color: #000000;
  text-align: center;
  padding: 20px;
}
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #45a049;
}
.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
.jobhunt-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.jobhunt-image1 {
  height: 5rem;
  object-fit: cover;
}
.jobhunt-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.jobhunt-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.jobhunt-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.jobhunt-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.jobhunt-image2 {
  height: 3rem;
  object-fit: cover;
}
.submit-button {
  /* other styles */
  transition: transform 0.3s ease;
}

.submit-button:active {
  transform: scale(0.9);
}