.news-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.news-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-primary1-blue80);
}
.news-navbar-interactive {
  width: 90%;
  display: flex;
  position: sticky;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.news-logo {
  font-size: 2em;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.news-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.news-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.news-nav1 {
  transition: 0.3s;
  text-decoration: none;
}
.news-nav1:hover {
  color: #3d6e70ff;
}
.news-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-nav2:hover {
  color: #3d6e70ff;
}
.news-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-nav3:hover {
  color: #3d6e70ff;
}
.news-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.news-nav4:hover {
  color: #3d6e70ff;
}
.news-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.news-login {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
}
.news-register {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  border-color: var(--dl-color-primary1-blue100);
  padding-left: 1.5rem;
  border-radius: 45px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.news-register:hover {
  border-color: rgba(41, 20, 119, 0.9);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgba(41, 20, 119, 0.9);
}
.news-burger-menu {
  display: none;
}
.news-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.news-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.news-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.news-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.news-logo1 {
  font-size: 2em;
  font-weight: bold;
}
.news-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-icon02 {
  fill: var(--dl-color-gray-900);
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.news-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.news-nav11 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.news-nav21 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.news-nav31 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.news-nav41 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.news-nav5 {
  color: var(--dl-color-gray-black);
  margin-bottom: var(--dl-space-space-unit);
}
.news-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.news-login1 {
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
}
.news-register1 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 1px;
  padding-left: 1.5rem;
  border-radius: 30px;
  padding-right: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.news-register1:hover {
  border-color: #849492ff;
  background-color: #849492ff;
}
.news-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.news-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.news-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.news-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--dl-color-primary1-blue80);
}
.news-hero1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.news-container1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.news-hero-heading {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  max-width: 800px;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.news-hero-sub-heading {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.news-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.news-hero-button1 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  transition: 0.3s;
  font-weight: bold;
  padding-top: 1.5rem;
  border-color: var(--dl-color-primary1-blue100);
  border-width: 0px;
  padding-left: 3rem;
  border-radius: 45px;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
  background-color: var(--dl-color-primary1-blue100);
}
.news-hero-button1:hover {
  color: var(--dl-color-gray-white);
  border-color: rgba(41, 20, 119, 0.9);
  background-color: rgba(41, 20, 119, 0.9);
}
.news-hero-button2 {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  font-weight: bold;
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: transparent;
}
.news-hero-button2:hover {
  border-color: var(--dl-color-gray-white);
}
@media(max-width: 991px) {
  .news-hero1 {
    flex-direction: column;
  }
  .news-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .news-hero-heading {
    text-align: center;
  }
  .news-hero-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .news-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .news-desktop-menu {
    display: none;
  }
  .news-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .news-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .news-nav11 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-nav5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .news-hero-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .news-navbar-interactive {
    width: 90%;
    padding: var(--dl-space-space-unit);
  }
  .news-logo {
    font-size: 1.5em;
  }
  .news-mobile-menu {
    padding: 16px;
  }
  .news-logo1 {
    font-size: 1.5em;
  }
  .news-icon02 {
    fill: var(--dl-color-gray-900);
  }
  .news-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .news-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .news-btn-group {
    flex-direction: column;
  }
  .news-hero-button2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
.news-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.news-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.news-submit-button {
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.news-submit-button:active {
  transform: scale(0.9);
}

.news-submit-button:hover {
  background-color: #45a049;
}

.news-data-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.news-data-container h2 {
  font-size: 24px;
  color: #333;
}

.news-data-container p {
  font-size: 16px;
  color: #666;
}

.news-response-container {
  font-family: Arial, sans-serif; /* Change this to your preferred font */
  color: #333; /* Change this to your preferred color */
  margin: 1em 0; /* Add some margin around the container */
}

.news-response-keyword {
  font-size: 1.5em; /* Make the keyword larger */
  font-weight: bold; /* Make the keyword bold */
  margin-bottom: 1em;
}

.news-response-item {
  margin: 0.5em 0; /* Add some margin around each item */
}
.news-centered-text {
  text-align: center;
}
.news-top-headlines {
  margin-top: 1em; /* Add space above the second paragraph */
  font-weight: bold;
  font-size: 1.5em;
}
.news-clear-button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #f44336 ; /* Green background */
  border: none;
  color: white; /* White text */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s; /* Transition effect */
  cursor: pointer;
}

.news-clear-button:hover {
  background-color: #d32f2f; /* Darker green on hover */
}
.jobhunt-image2 {
  height: 3rem;
  object-fit: cover;
}